.wrapper {
  position: relative;
  width: 100%;
  /* background: black; */
  /* opacity: 70%; */
}
.sootnosheniye {
  position: relative;
  padding-bottom: 470.07%;
  /* background: red; */

}
.content {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  padding: 0;
  /* opacity: 50%; */
  overflow: hidden;
  transition: all .3s;
  /* background: yellow; */
}

.first {
  position: relative;
  /* width: 100%; */
  height: 13.58%;
  background: #111112;
  padding: 0 3.472%;
}
.second {
  position: relative;
  width: 100%;
  height: 9.34%;
  background: #33FEB4;
  /* opacity: 50%; */
  padding: 0 3.472%;
}
.third {
  position: relative;
  width: 100%;
  height: 9.34%;
  background: #111112;
  padding: 0 3.472%;
  display: inline-block;
}
.fourth {
  position: relative;
  width: 100%;
  height: 16.35%;
  background:  #F2F2F2;
  padding: 0 3.472%;

}
.fifth {
  position: relative;
  width: 100%;
  height: 28.47%;
  background: #111112;
  padding: 0 3.472%;
  /* opacity: 50%; */
}
.sixth {
  position: relative;
  width: 100%;
  height: 12.51%;
  background: #FC62FF;
  padding: 0 3.472%;
}
.seventh {
  position: relative;
  width: 100%;
  height: 10.41%;
  background: #111112;
  padding: 0 3.472%;
  display: inline-block;
}

.ariana {
  width: 76.88%;
  position: absolute;
  left: auto;
  right: -10.4%;
  bottom: 0;
}
.menubar {
  position: relative;
  width: 100%;
  /* height: 12.32%; */
  background: #111112;
  display: flex;
  justify-content: space-between;
  /* align-items: baseline; */

}
p {
  font-family: "Pangram Medium";
  /* font-size: 22px; */
  font-size: 1.53vw;
  /* line-height: 23.1px; */
  line-height: 1.6vw;
  color: #F2F2F2;
}

.logo {
  width: 15.75%;
  margin-top: 5%;
}
.menubar_text {
  width: 41.02%;
  display: flex;
  justify-content: space-between;
  margin-top: 6.05%;
}
.menubar_text p {
  display: inline-block;

}
h2 {
  font-family: "Pangram Semibold";
  /* font-size: 44px; */
  /* line-height: 47px; */
  font-size: 3.06vw;
  line-height: 3.25vw;
  width: 48%;
  color: #F2F2F2;
  margin-top: 10.1%;
}
.first h2+p {
  margin-top: 2.1%;
  width: 25%;
}
.button {
  font-family: "Pangram Semibold";
  font-size: 1.53vw;

  line-height: 1.6vw;

  /* font-size: 22px; */
  /* line-height: 23.1px; */
  color: #111112;
  background: #FC62FF;
  /* padding: 18px 28px; */
  padding: 1.3vw 1.8vw;
  display: inline-block;
}
#button1 {
  margin-top: 6.45%;
  transition: all .4s;
}
#button1:hover {
  background: #33FEB4;
  transition: all .2s;
}
.second h2 {
  font-family: "Pangram Medium";
  color: #111112;
  margin-top: 0;
  display: inline-block;
  margin-top: 13.75%;
  width: 57%;
  /* vertical-align: middle; */
}
h4 {
  font-family: "Pangram Semibold";
  /* font-size: 136px; */
  /* line-height: 143px; */
  font-size: 9.45vw;
  line-height: 9.85vw;
  color: #111112;
  margin-top: 0;
  display: inline-block;
}
h1 {
  font-family: "Pangram Semibold";
  /* font-size: 88px; */
  font-size: 6.12vw;
  line-height: 6.35vw;
  /* line-height: 92px; */
  color: #111112;
  margin-top: 0;
  display: inline-block;
}
.fact1 h4 {
  color: #33FEB4;
}
.fact2 h4 {
  color: #FC62FF;
}
.fact3 h4 {
  color: #EBFF00;
}
.facts p {
  /* font-size: 36px; */
  font-size: 2.5vw;
  line-height: 2.6vw;
  /* line-height: 38px; */
  margin-top: -2%;
}
.fact1 p {
  margin-left: 29.5%;
}
.facts {
  width: 92.2%;
  padding: 0 0.2%;
  display: flex;
  justify-content: space-between;
}
.facts div {
  margin-top: 13.6%;
}
#button2 {
  margin-top: 5.6%;
  float: right;
  margin-right: 6.9%;
  background: #33FEB4;
  transition: all .4s;
}
#button2:hover {
  background: #FC62FF;
  transition: all .2s;
}
.fourth h1 {
  margin-top: 7.05%;
}
.tyler1 {
  position: absolute;
  left: 17.9%;
  width: 43.1%;
  bottom: 21.9%;
}
.tyler2 {
  position: absolute;
  right: 24.35%;
  width: 13.75%;
  top: 24.25%;
}
.tyler3 {
  position: absolute;
  right: 17%;
  width: 13.75%;
  bottom: 24.1%;
}
.fourth p {
  margin-top: 5.3%;
  margin-left: 15.76%;
  color: #111112;
}
#notice {
  margin: 0;
  position: absolute;
  width: 14%;
  left: 10.6%;
  bottom: 10.9%;
}
.strelka {
  position: absolute;
  width: 6.75%;
  left: 23.9%;
  bottom: 15.4%;
}
#button3 {
  float: right;
  margin-right: 6.9%;
  margin-top: 44.3%;
  transition: all .4s;
}
#button3:hover {
  background: #33FEB4;
  transition: all .2s;
}
.round {
  position: absolute;
  width: 2.8%;
}
.round1 {
 left: 34.4%;
 top: 31.9%;
}
.round2 {
 left: 43.8%;
 top: 53.75%;
}
.round3 {
 left: 29%;
 bottom: 25%;
}
.fifth  {
  display: inline-block;
}
.fifth h2 {
  margin-top: 7.1%;
  /* line-height: 45px; */
  line-height: 3.07vw;
  width: 37%;
}
.fifth h2+p {
  margin-top: 2%;
  /* line-height: 25px; */
  line-height: 1.75vw;
  width: 31%;
}
#button4 {
  margin-top: 5.8%;
  transition: all .4s;
  background: #EBFF00;
}
#button4:hover {
  background: #FC62FF;
  transition: all .2s;
}
.fifth img {
  position: absolute;
}
.fifth_photo1 {
 right: 39.1%;
 top: 8.5%;
 width: 17.2%;
}
.fifth_photo2 {
 right: 17%;
 top: 4.05%;
 width: 21.1%;
}
.fifth2 h2 {
  margin-top: 19.1%;
  /* line-height: 45px; */
  margin-left: 47%;
  width: 57%;
}
.fifth2 p {
  margin-left: 47%;
}
#button5 {
  margin-top: 5.8%;
  float: right;
  margin-right: 43%;
  transition: all .4s;
}
#button5:hover {
  background: #EBFF00;
  transition: all .2s;
}
.fifth_photo3 {
  left: 10.5%;
  top: 39.9%;
  width: 21.2%;
}
.fifth_photo4 {
  left: 17.9%;
  top: 46.65%;
  width: 21.1%;
}
#tag1, #tag2, #tag3 {
  position: absolute;
}
#tag1 {
  left: 32.6%;
  top: 41%;
  margin-left: 0;
}
#tag2 {
  left: 3.3%;
  top: 47.7%;
  margin-left: 0;
}
#tag3 {
  left: 12.6%;
  top: 54.3%;
  margin-left: 0;
}
.fifth3 h2 {
  margin-top: 32.8%;
  width: 35%;
}
#button6 {
  background: #12EBAA;
  margin-top: 5.8%;
  transition: all .4s;
}
#button6:hover {
  background: #EBFF00;
  transition: all .2s;
}
.fifth_photo5 {
  right: 1.5%;
  bottom: 4.1%;
  width: 60.1%;
}
.sixth {
  display: inline-block;
}
.sixth h2{
  font-family: "Pangram Medium";
  margin-top: 6.5%;
  color: #111112;
  width: 50%;
}
.sixth h1 {
  font-family: "Pangram Medium";
  margin-top: 0.5%;
  /* display: block; */
  margin-right: 100%;
  cursor: default;
}
.who1 {
  margin-top: 4% !important;
}
#button7 {
  margin-top: 3.1%;
  background: #EBFF00;
  transition: all .4s;
}
#button7:hover {
  background: #33FEB4;
  transition: all .2s;
}
.sixth img {
  width: 35.7%;
  position: absolute;
  right: 9.9%;
  top: 15.73%;
}
.seventh h1 {
  margin-top: 4.4%;
  width: 70%;
  /* line-height: 100px; */
  line-height: 6.9vw;
  display: block;
  color: #F2F2F2;
}
#button8 {
  margin-top: 4.55%;
  transition: all .4s;
}
#button8:hover {
  background: #12EBAA;
  transition: all .2s;
}
.social {
  position: absolute;
  right: 9.7%;
  top: 18.1%;
  width: 11.4%;
}
.social_text {
  position: absolute;
  right: 10.7%;
  top: 11.4%;
}
.futter {
  margin-top: 1.8%;
  width: 93.056%;
  display: flex;
  justify-content: space-between;
}
.logo_futter {
  display: block;
  width: 14.5%;
  margin-top: 10.65%;
}
.futter_photo {
  width: 47%;
  position: absolute;
  bottom: 0;
  right: 6.2%;
}
.who1, .who2, .who3, .who4 {
  transition: all .4s;
}
.who_photo2, .who_photo3, .who_photo4{
  opacity: 0;
  transition: all .4s;
}
.who1:hover, .who2:hover, .who3:hover, .who4:hover {
  color: #F2F2F2;
  transition: all .2s;
}
.who2:hover + .who_photo2 {
  opacity: 100%;
  transition: all .2s;
}
.who3:hover + .who_photo3 {
  opacity: 100%;
  transition: all .2s;
}
.who4:hover + .who_photo4 {
  opacity: 100%;
  transition: all .2s;
}
.round {
  transition: all .3s;
  cursor: pointer;
}
#hover1, #hover2, #hover3 {
  opacity: 0;
}
.round_block1:hover #hover10{
  opacity: 0;
  transition: all .2s;
}
.round_block1:hover #hover1 {
  opacity: 100%;
  transition: all .2s;
}
.round_block2:hover #hover20{
  opacity: 0;
  transition: all .2s;
}
.round_block2:hover #hover2 {
  opacity: 100%;
  transition: all .2s;
}
.round_block3:hover #hover30{
  opacity: 0;
  transition: all .2s;
}
.round_block3:hover #hover3 {
  opacity: 100%;
  transition: all .2s;
}
.paper1,  .paper2, .paper3{
  background: #111112;
  position: absolute;
  width: 33.65%;
  margin: 0;
  left: 8.5%;
  top: 19.6%;
  z-index: 101;
}
.paper1 {
  /* display: none; */
}
.paper2 {
  left: 3.2%;
  bottom: 13.1%;
  width: 39%;
  top: auto;
  height: 29.7%;
/* display: none; */
}
.paper1 h2, .paper2 h2, .paper3 h2 {
  font-family: "Pangram Medium";
  margin-left: 6.8%;
  color: #FC62FF;
  margin-top: 5.3%;
}
.paper1 h2 {
  width: 60%;
}
.paper3 {
  height: 34.5%;
  right: 12.9%;
  top: auto;
  left: auto;
  bottom: 25.5%;
  width: 39%;
  /* display: none; */

}
.paper2 h2 {
  width: 100%;
  margin-left: 6%;
  margin-top: 6.5%;


}
.paper3 h2 {
  width: 100%;
  margin-left: 6%;
  margin-top: 6.5%;


}
.paper1 p, .paper2 p, .paper3 p{
  color: #F2F2F2;
  width: 84%;
  margin-left: 6.8%;
  margin-top: 2.2%;
  line-height: 25px;
}
.paper2 p {
  margin-top: 3.6%;
  margin-left: 6%;
}
.paper3 p {
  margin-top: 3.6%;
  margin-left: 6%;
  width: 90%;
}
.paper1 div, .paper2 div, .paper3 div {
  margin-top: 5%;
  float: right;
  margin-right: 6.3%;
  margin-bottom: 6.1%;
}
.paper2 div {
  margin-bottom: 5.3%;

}
.paper3 div {
  margin-bottom: 5.3%;

}
.krest {
  position: absolute;
  right: 4.9%;
  top: 5.9%;
  z-index: 120;
  transition: all .4s;
}
.krest2 {
  position: absolute;
  right: 3.9%;
  top: 7%;
}
.krest3 {
  position: absolute;
  right: 3.7%;
  top: 6%;
}
.krest:hover {
  opacity: 0;
  transition: all .2s;
  cursor: pointer;
}

.blocker {
  display: none;
}
.hidden {
  opacity: 0%;
  transition: all .2s;
}
.show {
  opacity: 100%;
  transition: all .2s;
}
.fifth_photo5_ipad {
  display: none;
}
.round1, .round2, .round3 {
  z-index: 100
}

.burger {
  display: none;
}
.phone_menu {background-color: #33FEB4; ; position: absolute; z-index: 150; right: 5.2%; padding: 3.7% 0% 3% 6.4%; top: 7.7%; width: 45.7%; height: 15.6%; transition: all .2s;}
.phone_menu p {color: #111112; display: inline-block; margin-top: 3.6%;}
